services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: api_rails
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0"
    working_dir: /rails
    volumes:
      - .:/rails
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    environment:
      - RAILS_ENV=development
      - DATABASE_HOST=postgres
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
      - DATABASE_NAME=api_development
      - ALLOWED_ORIGINS=https://family-ops-api.onrender.com
    depends_on:
      postgres:
        condition: service_healthy
    stdin_open: true
    tty: true
  client:
    build:
      context: ../client
      dockerfile: Dockerfile
      target: production
    environment:
      - NODE_ENV=production
      - BASE_URL=https://family-ops-api.onrender.com
    command: node .output/server/index.mjs
    ports:
      # 必要に応じて外部公開ポートを調整
      - "3001:3000"


